<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ljw4dakeai.mybatis.mapper.EmpMapper">
<!--处理字段名和对应实体类字段名不一致问题-->
    <!--自定义sql实现-->
    <!--
        <sql id="employee_col">
            emp_id   as empId,
            emp_name as empName,
            age,
            gender,
            dept_id  as deptId
        </sql>
        <select id="selectAllEmp" resultType="Employee">
            select
            <include refid="employee_col"/>
            from tb_emp
        </select>
    -->

    <!--resultMap使用介绍-->
    <!--
        <resultMap id="useInfo" type="Test">
            &lt;!&ndash;id             处理主键对应关系&ndash;&gt;
            &lt;!&ndash;result        处理其他col对应关系&ndash;&gt;
            &lt;!&ndash;association  处理多对一映射的关系&ndash;&gt;
            &lt;!&ndash;collection     处理一对多映射的关系&ndash;&gt;
        </resultMap>
    -->
    <!--自定义resultMap实现-->
    <!--
        <resultMap id="EmployeeResultMap" type="Employee">
            <id column="emp_id" property="empId"/>
            <result column="emp_name" property="empName"/>
            <result column="dept_id" property="deptId"/>
        </resultMap>
        <select id="selectAllEmp" resultMap="EmployeeResultMap">
            select *
            from tb_emp
        </select>
    -->

    <!--使用别名实现-->
    <!--
        <select id="selectAllEmp" resultType="Employee">
            select emp_id as empId, emp_name as empName, age, gender, dept_id as deptId
            from tb_emp
        </select>
    -->

    <!--使用全局配置 -->
    <!--
         <setting name="mapUnderscoreToCamelCase" value="true"/>
     -->

<!--使用resultMap处理多对一映射关系-->
    <!--1.级联方式-->
    <!--
        <resultMap id="empAndDeptResultMapOne" type="Employee">
            <id column="emp_id" property="empId"/>
            <result column="emp_name" property="empName"/>
            <result column="age" property="age"/>
            <result column="gender" property="gender"/>
            <result column="dept_id" property="dept.deptId"/>
        <result column="dept_name" property="dept.deptName"/>
    </resultMap>
    -->
    <!--2.association-->
    <!--
        <resultMap id="empAndDeptResultMap" type="Employee">
            <id column="emp_id" property="empId"/>
            <result column="emp_name" property="empName"/>
            <result column="age" property="age"/>
            <result column="gender" property="gender"/>
            <association property="dept" javaType="Dept" >
                <id column="dept_id" property="deptId"/>
                <result column="dept_name" property="deptName"/>
            </association>
        </resultMap>
    -->
    <!--3.分步查询-->
    <!--
        <resultMap id="empAndDeptByStepResultMap" type="Employee">
            <id column="emp_id" property="empId"/>
            <result column="emp_name" property="empName"/>
            <result column="age" property="age"/>
            <result column="gender" property="gender"/>
            <association property="dept"
                            select="com.ljw4dakeai.mybatis.com.ljw4dakeai.mapper.DeptMapper.selectEmpDeptByStepTwo"
                            column="dept_id">
            </association>
        </resultMap>
    -->


    <!--List<Employee> selectAllEmp();-->
    <resultMap id="EmployeeResultMap" type="Employee">
        <id column="emp_id" property="empId"/>
        <result column="emp_name" property="empName"/>
        <result column="dept_id" property="deptId"/>
    </resultMap>
    <select id="selectAllEmp" resultMap="EmployeeResultMap">
        select *
        from tb_emp
    </select>

    <!-- Employee selectEmpByEmpId(@Param("empId") Integer empId);-->
    <select id="selectEmpByEmpId" resultType="Employee">
        select *
        from tb_emp
        where emp_id = #{empId,jdbcType=INTEGER}
    </select>

    <!--Employee selectEmpDeptByEmpId(@Param("empId") Integer empId);-->
    <select id="selectEmpDeptByEmpId" resultMap="empAndDeptResultMap">
        select tb_emp.*, tb_dept.dept_name
        from tb_emp
        left join tb_dept on tb_dept.dept_id = tb_emp.dept_id
        where emp_id = #{empId,jdbcType=INTEGER}
    </select>

    <!--1.级联方式-->
    <resultMap id="empAndDeptResultMapOne" type="Employee">
        <id column="emp_id" property="empId"/>
        <result column="emp_name" property="empName"/>
        <result column="age" property="age"/>
        <result column="gender" property="gender"/>
        <result column="dept_id" property="dept.deptId"/>
        <result column="dept_name" property="dept.deptName"/>
    </resultMap>
    <!--2.association-->
    <resultMap id="empAndDeptResultMap" type="Employee">
        <id column="emp_id" property="empId"/>
        <result column="emp_name" property="empName"/>
        <result column="age" property="age"/>
        <result column="gender" property="gender"/>
        <association property="dept" javaType="Dept" >
            <id column="dept_id" property="deptId"/>
            <result column="dept_name" property="deptName"/>
        </association>
    </resultMap>
    <!--3.分步查询-->
    <resultMap id="empAndDeptByStepResultMap" type="Employee">
        <id column="emp_id" property="empId"/>
        <result column="emp_name" property="empName"/>
        <result column="age" property="age"/>
        <result column="gender" property="gender"/>
        <!--
            如果开启了全局懒加载, 在分布查询标签association 中
            设置fetchType="eager"开启当前分布查询立即加载
        -->
        <association property="dept" fetchType="eager"
                        select="com.ljw4dakeai.mybatis.com.ljw4dakeai.mapper.DeptMapper.selectEmpDeptByStepTwo"
                        column="dept_id">
        </association>
    </resultMap>
    <select id="selectEmpDeptByStepOne" resultMap="empAndDeptByStepResultMap">
        select * from tb_emp
        where emp_id = #{empId,jdbcType=INTEGER}
    </select>

    <select id="selectDeptEmpByStepTwo" resultType="Employee">
        select *
        from tb_emp
        where dept_id = #{deptId,jdbcType=INTEGER}
    </select>

</mapper>
