<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--
        mybatis 中的核心配置标签, 必须按顺序配置
        顺序是
        (properties?,settings?,typeAliases?,typeHandlers?,objectFactory?,objectWrapperFactory?,
        reflectorFactory?,plugins?,environments?,databaseIdProvider?,mappers?)".
    -->


    <!--
        引入properties, 可以使用${key}的方式来访问value
    -->

    <properties resource="jdbc.properties"/>

    <!--
        全局驼峰匹配开启
        是否启用下划线与驼峰式命名规则的映射
    -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <!--
            类型别名
            为某个具体的类设置某个别名, 用一个值表示一个具体的类
            type : 设置 具体 需要设置别名的类
            alias : 设置某个类型的别名 (别名亦可以不写,就是类型名不区分大小写)
                    <typeAlias type="com.ljw4dakeai.mybatis.pojo.User"/> -> 一个一个类的添加
                    <package name="com.ljw4dakeai.mybatis.pojo"/> -> 一个包中所有的都使用类型别名(所有类都使用默认别名)
        -->
        <package name="com.ljw4dakeai.mybatis.pojo"/>
    </typeAliases>


    <!--
        environments：配置数据库连接环境信息。可以配置多个environment，通过default属性切换不同的environment,
    -->
    <environments default="mysql5.7.16-mybatis">
        <!-- 设置一个连接的具体环境, id是惟一的-->

        <environment id="mysql5.7.16-mybatis">
            <!--
                type 设置事务管理的方式
                JDBC : 使用jdbc原生的管管理方式
                MANAGED : 被管理的 例如spring
            -->
            <transactionManager type="JDBC"/>
            <!--
                设置数据源类型
                POOLED | UNPOOLED | JNDI
                POOLED : 使用数据库连接池
                UNPOOLED : 不使用数据库连接池
                JNDI : 实现上下文中的数据源
             -->
            <dataSource type="POOLED">
                <!--数据库连接信息-->
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>


<!--        <environment id="mysql5.7.35-mybatis">-->
<!--            <transactionManager type="JDBC"/>-->
<!--            <dataSource type="POOLED">-->
<!--                &lt;!&ndash;数据库连接信息&ndash;&gt;-->
<!--                <property name="driver" value="com.mysql.jdbc.Driver"/>-->
<!--                <property name="url" value="jdbc:mysql://localhost:13306/mybatis?useSSL=false"/>-->
<!--                <property name="username" value="root"/>-->
<!--                <property name="password" value="520000"/>-->
<!--            </dataSource>-->
<!--        </environment>-->


    </environments>


    <mappers>
        <!--引入mybatis配置文件-->
        <!--
                <mapper resource="mappers/UserMapper.xml"/>
                1.mapper接口和映射文件所在的包必须一致
                2.mapper接口的名字, 和映射文件的名字必须一致
        -->
        <package name="com.ljw4dakeai.mybatis.mapper"/>
    </mappers>


</configuration>